<div>
    <div *ngIf="loaded">
      <h1>{{book.title}}</h1>
<!--      <h1>Book detail of "{{book.name}}"</h1>-->
      <img src="{{book.image}}" /> <br>
      <a class="link" routerLink="/books/{{book.id}}/text">Read</a>
      <h2>Cost: {{book.cost}}</h2>
      <h2>Author: {{book.author["name"]}}</h2>
      <button type = "button" (click) = "Like()">Like</button>
      <p>
        <button type = "button" (click) = "ReturnBack()">Return back</button>
      </p>
    </div>

    <h3 *ngIf="!loaded">Album is loading...</h3>
</div>

