:host { 
  display: contents; 
}
.menu-menu {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.menu-links-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.menu-container {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.menu-link {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-link01 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-link02 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-link03 {
  text-decoration: none;
}
.menu-container1 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.menu-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.menu-link07 {
  text-decoration: none;
}
.menu-follow-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.menu-text {
  padding-bottom: var(--dl-space-space-halfunit);
}
.menu-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.menu-link08 {
  display: contents;
}
.menu-icon {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.menu-link09 {
  display: contents;
}
.menu-icon2 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.menu-link10 {
  display: contents;
}
.menu-icon4 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 767px) {
  .menu-menu {
    flex-direction: column;
  }
  .menu-links-container {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .menu-container {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .menu-links-container {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .menu-link {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .menu-link01 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .menu-link02 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .menu-link03 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .menu-container1 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .menu-link04 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .menu-link05 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .menu-link06 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .menu-link07 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .menu-follow-container {
    margin-left: 0px;
  }
}
